html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  line-height: 1.5;
}

div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d05c2e;
  color: #fff;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 1rem;
  border-bottom: #a63f38 1px solid;
}

h1 {
  padding: .4em 0;
  margin: 0;
}

.grains {
  width: 40px;
}

header nav {
  background-color: #d05c2e;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  font-size: 1.125rem;
  padding: .5rem 0;
  margin: 0;
  border-bottom: #a63f38 1px solid;
}

header a {
  text-decoration: none;
  color: #fff;
  font-family: Merriweather, serif;
  font-weight: normal;
}

a:hover {
  background-color: #a63f38;
}
